.carrousel{
    position: relative;
    & img{
        width: 100%;
        height: 415px;
        object-fit: cover;
        @include under-small{
            height: 255px;
        }
    }
    & span{
        font-size: 18px;
        color: $white;
        left: 50%;
        position: absolute;
        bottom: 15%;
        font-weight: $medium;
    }
    &__btn{
        height: 430px;
        width: 96px;
        position: absolute;
        border: none;
        cursor: pointer;
        @include under-small{
            height: 255px;
        }
        &__next{
            right: 5%;
            background: url(../../assets/arrow-next.svg) no-repeat center;
        }
        &__prev{
            left: 5%;
            background: url(../../assets/arrow--prev.svg) no-repeat center;
        }
    }
}