.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 340px;
    height: 340px;
    background: linear-gradient(to top, $black 0%, $white 100%);
    border-radius: 10px;
    @include under-small{
        height: 255px;
    }
    &:hover h2{
        background-color: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(100%), opacity(90%);
        font-size: 15px;
        width: 170px;
        margin-right: 0%;
        border-radius: 0 2px 2px 0;
    }
    &:hover img{
        opacity: 100%;
    }
    & img{
        position: relative;
        width: 340px;
        height: 340px;
        object-fit: cover;
        border-radius: 10px;
        opacity: 65%;
        @include under-small{
            height: 255px;
        }
    }

    & h2{ // carefull with the grid style (<a>)
        position: absolute;
        padding: 1%;
        width: 200px    ;
        font-size: 18px;
        font-weight: $medium;
        // border-radius: 0 10px 10px 0;
    }
}