.dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    font-size: 18px;
    font-weight: $regular;
    background-color: $grey;
    margin-bottom: 2%;
    @include under-small{
        width: 80%;
        margin-bottom: 13%;
    }
    & button{
        background-color: $color-primary;
        color: $white;
        height: 52px;
        font-size: 18px;
        font-weight: $medium;
        border: none;
        text-align: left;
        padding: 0.5% 0.5% 0.5% 3%;
        border-radius: 5px ;
        cursor: pointer;
        @include under-small{
            font-size: 13px;
            height: 30px;
        }
    }
    & h5{
        font-size: 18px;
        font-weight: $regular;
        padding: 0 3%;
        color: $color-primary;
        @include under-small{
            font-size: 12px;
        }
    }
    & ul{
        list-style: none;
    }
    &--open{
        background: url(../../assets/arrow--open.svg) no-repeat right;
    }
    &--closed{
        background: url(../../assets/arrow--close.svg) no-repeat right;
    }
    &--large{
        width: 80%;
        font-size: 24px;
        & button{
            font-size: 24px;
        }
    }
}