.header{
    height: 128px;
    padding-right: $paddingBody;
    padding-left: $paddingBody;
    display: flex;
    justify-content: space-between;
    color: $color-primary;
    align-items: center;
    & img{
        width: 210px;
    }
    & nav{
        width: 250px;
        display: flex;
        justify-content: center;
    }
    & a{
        margin: 5%;
        text-decoration: none;
        color: $color-primary;
        font-size: 24px;
        &:hover{
            color: lighten($color: $color-primary, $amount: 5%);
        }
    }
}