.header{
    height: 128px;
    padding-right: $paddingBody;
    padding-left: $paddingBody;
    display: flex;
    justify-content: space-between;
    color: $color-primary;
    align-items: center;
    @include under-small{
        padding: 3%;
    }
    & img{
        width: 210px;
        @include under-small{
            width: 145px;
        }
    }
    & nav{
        width: 250px;
        display: flex;
        justify-content: center;
        @include under-small{
            width: 40%;
        }
    }
}
.navLink{
    margin: 5%;
    text-decoration: none;
    color: $color-primary;
    font-size: 24px;
    @include under-small{
        font-size: 12px;
        width: auto;
        margin: 0 5%;
    }
    &:hover{
        color: lighten($color: $color-primary, $amount: 5%);
    }
    &--active{
        text-decoration: underline;
    }
}