.star{
    width: 36px;
    height: 36px;
    margin-right: 2px;
    @include tablette-only{
        width: 24px;
        height: 24px;
    }
    @include under-small{
        width: 18px;
        height: 18px;
    }
    
}