.tag{
    color: $white;
    background-color: $color-primary;
    border-radius: 20px;
    width: 115px;
    height: 25px;
    font-size: 14px;
    font-size: $medium;
    text-align: center;
    padding-top: 1%;
    margin-right: 1%;
}