.tag{
    color: $white;
    background-color: $color-primary;
    border-radius: 20px;
    width: 125px;
    height: 25px;
    font-size: 12px;
    font-size: $regular;
    text-align: center;
    padding: 1% 0 0 0;
    margin-right: 2%;
   
    @include tablette-only{
        font-size: 10px;
        border-radius: 10px;
        width: 84px;
        height: 18px;
        padding: 2% 0 0 0;
        margin-bottom: 0;
    }

    &--XL{
        width: 140px;
        @include tablette-only{
            width: 110px;
        }
    }
}