.error{
    @include section;
    color: $color-primary;
    text-align: center;
    margin-bottom: 5%;
    @include under-small{
        margin-bottom: 30%;
    }
    & h1{
        font-size: 288px;
        font-weight: $bold;
        margin-top: 2%;
        margin-bottom: 2%;
        @include under-small{
            margin-top: 20%;
            margin-bottom: 10%;
            font-size: 96px;
        }
    }
    & h2{
        font-size: 36px;
        margin-top: 2%;
        margin-bottom: 5%;
        @include under-small{
            margin-top: 10%;
            margin-bottom: 25%;
            font-size: 18px;
        }
    }
    & a{
        margin-top: 4%;
        margin-bottom: 3%;
        font-size: 18px;
        color: $color-primary;
        @include under-small{
            font-size: 14px;
            margin-top: 20%;
        }
    }
}