.rental{
    &__section{
       display: flex;
       justify-content: space-between; 
       flex-wrap: wrap;
       color: $color-primary;
       margin-bottom: 1%;
    }
    &__heading{
        flex: 70%;
        &__title{
            font-size: 36px;
            font-weight: $medium;
            margin-bottom: 0%;
        }
        &__subtitle{
            margin-top: 1%;
            font-size: 18px;
        }
    }
    &__tags{
        display: flex;
        flex: 70%;
    }
    &__details{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 280px;
    }

}
.host{
    display: flex;
    align-self: flex-end;
    &__name{
        font-size: 18px;
        width: 93px;
    }
    &__picture{
        height: 64px;
        width: 64px;
        object-fit: cover;
        border-radius: 100px;
    }
}