.rental {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: $color-primary;
  margin-bottom: 1%;
  position: relative;
  &__heading {
    width: 85%;
    &__title {
      font-size: 36px;
      font-weight: $medium;
      margin-bottom: 0%;
      @include tablette-only {
        font-size: 18px;
      }
    }
    &__subtitle {
      margin-top: 1%;
      font-size: 18px;
      @include tablette-only {
        font-size: 12px;
      }
    }
  }
  &__tags {
    display: flex;
    flex: 70%;
    @include tablette-only {
      flex-wrap: wrap;
      flex: 100%;
    }
  }
  &__details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 280px;
    @include under-small {
      margin-top: 7%;
      flex-direction: column;
      height: auto;
      min-height: 100px;
      align-items: center;
    }
  }
}

.host {
  display: flex;
  position: absolute;
  right: 5px;
  top: 25px;
  @include under-small{
    position: relative;
    right: auto;
    top: auto;
    order: 4;
  }
  &__name {
    font-size: 18px;
    width: 93px;
    @include tablette-only {
      font-size: 12px;
    }
  }
  &__picture {
    height: 64px;
    width: 64px;
    object-fit: cover;
    border-radius: 100px;
    @include tablette-only {
      height: 32px;
      width: 32px;
    }
  }
}
