@import "normalize.css";
@import './utils/variables';
@import './utils/maps';
@import './utils/mixins';
@import './base/base';
@import './components/banner';
@import './components/card';
@import './components/carrousel';
@import './components/dropdown';
@import './components/header';
@import './components/footer';
@import './components/grid';
@import './components/rate';
@import './components/tag';
@import './pages/error';
@import './pages/rental';