@mixin section {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: $paddingBody;
    margin-right: $paddingBody;
    border-radius: 25px;
    width: 90%;
    font-size: 1.3em;
    object-fit: cover;
}