//Colors
$color-primary: #FF6060;
$white: #FFFFFF;
$grey: #F6F6F6;
$black: #000000;

//Fonts:
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
$font: 'Montserrat', sans-serif;
$medium: 500;
$regular:400; 
$bold: 700;

//Body
$paddingBody: 5%;